{% extends "base.html" %}
{% block content %}
    <div class="ui main container" style="padding-top: 7em">
        <div class="ui icon">
            <i class="ui green big android icon"></i>我们努力，只为让这个世界变得更美好。
        </div>
        <br>
        <div class="ui icon">
            <i class="ui yellow big smile outline icon"></i>后续会不断的更新网站QAQ
        </div>
        <br>
        <div class="ui icon">
            <i class="ui red big ban icon"></i>2019/9/8  新增了初级抵御攻击的功能
            (任意30秒内请求次数超过60次会被拉黑1小时)
        </div>
        <br>
        <div class="ui icon">
            <i class="ui brown big user secret icon"></i>2019/9/9  加入了管理员页面
            (删库必须要有管理员密码)
        </div>
        <br>
        <div class="ui icon">
            <i class="ui big tint blue icon"></i>2019/9/10  加入了实验室页面
            (可能是用来做游戏的)
        </div>
        <div class="ui icon">
            <i class="ui big frown outline yellow icon"></i>2019/9/10  先去学react  这个先放一放
        </div>
    </div>
{% endblock %}